.projects-container{
    padding-top: 50px;
    padding-bottom: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 65px;
    gap: 40px;
}

.projects-img {
    height: 210px;
    width: 400px;
    border-radius: 12px;
}