.skills-container{
    padding-top: 100px;
    padding-bottom: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills{
    display: flex;
    padding-top: 50px;
    gap: 50px;
}

.card img{
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #2c786c;
}

.card footer{
    background-color: #f8b400;
    border-radius: 10px;
    padding: 1px;
}

img {
    height: 80px;
    width: 80px;
}