.description-container{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 150px;
    padding: 180px;
}

.myPhoto{
    width: 900px;
    height: 550px;
    filter: drop-shadow(0 0 1rem #004445);
    box-shadow: 1px 1px 2rem #004445;
}