footer{
    background: #2C786C;
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer p {
    font-size: 17px;
}

@media screen and (max-width: 880px){
    footer{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    footer p {
        font-size: 12px;
        font-weight: 300;
    }
}