body {
  background-color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

p{
  font-size: 18px;
  font-weight: 200;
  color: #faf5e4;
}

h1{
  font-size: 63px;
  font-weight: 400;
  color: #faf5e4;
  margin: 0;
}

h2{
  font-size: 35px;
  font-weight: 300;
  color: #f8b400;
}
