.contacts-container{
    background: linear-gradient(177.9deg, rgb(0, 0, 0) 40%, rgb(0, 68, 69) 100%);
    padding-top: 100px;
    padding-bottom: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contacts{
    display: flex;
    padding-top: 100px;
    gap: 80px;
}

.contacts-card{
    padding: 30px;
    background: #2C786C;
    border-radius: 80px;
}

.contacts-img {
    height: 70px;
    width: 70px;
}

/* .contacts-container h2::before,
.contacts-container h2::after{
    content: "";    
    position: absolute;
    top: 91.8em;
    width: 26px;
    height: 1.5px;
    background-color: #2c786c;
}

.contacts-container h2::before{
    left: inherit;
    right: 21.4em;
}

.contacts-container h2::after{
    left: initial;
    right: 15.9em; 
} */

@media screen and (max-width: 880px){
    .contacts-container{
        padding-top: 0;
        padding-bottom: 70px;
    }

    .contacts{
        display: grid;
        justify-content: space-between;
        gap: 15px;
        padding-top: 40px;
    }

    .contacts-img {
        height: 30px;
        width: 30px;
    }

    .contacts-card {
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-width: 880px){
    .contacts-img {
        height: 20px;
        width: 20px;
    }

    .contacts-card {
        height: 20px;
        width: 20px;
    }
}