.banner-container {
    background: linear-gradient(177.9deg, rgb(0, 0, 0) 28%, rgb(0, 68, 69) 100%);
    text-align: center;
    height: 100vh;
}

.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.destac{
    font-size: 60px;
    font-family: Afacad Flux, serif;
}

.banner-p{
    gap: 0;
}

h1{
    font-size: 30px;
}

.banner-p{
    font-size: 18px;
    color: #f8b400;
}