.banner-container {
    background: linear-gradient(177.9deg, rgb(0, 0, 0) 28%, rgb(0, 68, 69) 100%);
    text-align: center;
    height: 100vh;
}

.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.destac{
    font-size: 60px;
    font-family: Afacad Flux, serif;
}

.banner-p{
    position: relative;
    display: inline-block;
    color: #f8b400;
    font-size: 18px;
    margin: 2%;
    gap: 0;
}

.banner-p::before,
.banner-p::after{
    content: "";
    position: absolute;
    top: 128px;
    width: 40px;
    height: 1.5px;
    background-color: #F8B400;
}

.banner-p::before{
    left: inherit;
    right: 170px;
}

.banner-p::after{
    left: initial;
    right: -78px;  
}

h1{
    font-size: 30px;
}
/* Config tablet*/
@media screen and (max-width: 768px){
    
}

/* Config mobile*/
@media screen and (max-width: 320px){
    .banner-p{
        font-size: 13px;
        padding-bottom: 30px;
    }

    .destac{
        font-weight: 100;
        padding-bottom: 5px;
        font-size: 20px;
    }

    .destac-p{
        font-weight: 100;
        font-size: 13px;
    }

    .banner-p::before{
        display: none;
    }
    .banner-p::after{
        left: initial;
        position: fixed;
        right: 40%;
        margin-top: 60%;
    }

}